body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(130, 130, 219);
}

header {
    background-color: rgb(141, 141, 197);
    color: black;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}




